/* Sets text color for entire site, and some fonts. Also background color */
body {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* The navbar is split into two divs. This makes space-between put them on opposite sides. */
nav {
    position: sticky;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

/* Any colored text is just placed in a span within the existing text. This makes it easy to add */
span {
    color: var(--color-highlighted-text);
}
hr {
    margin-right: 10%;
}

/* All buttons on the website look the same */
button {
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--color-highlighted-text);
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: 1s;
}
button:hover {
    background-color: var(--color-button-hover);
    transition: 1s;
}

/* Styling for the navbar */
nav > p {
    margin-left: 10%;
}
.links {
    text-decoration: none;
    color: var(--color-links);
}
.links:hover {
    color: var(--color-text);
    transition: .5s;
}
#right-nav {
    display: flex;
    gap: 10px;
    margin-right: 10%;
}

/* Styling for the header (mostly the introduction) */
header {
    margin-left: 10%;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}
#intro-text {
    font-size: 20px;
}

/* Styling for the Dr. Who quote */
#quote {
    display: block;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid var(--color-text);
    text-align: center;
}

/* Styling for section headers */
.new-section {
    margin-left: 10%;
}

/* Styling for the project cards */
#projects {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20px;
}
#projects img {
    width: 100%;
    height: 75%;
}

/* Styling for skill cards */
#skills {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#skills article {
    border: 1px solid var(--color-text);
}
#skills p {
    border-top: 1px solid var(--color-text);
}

/* Styling for about me section */
#about-me {
    margin-left: 10%;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

#right-footer {
    margin-right: 20%;
}